.App {
    text-align: center;
    background-color: black;
    min-height: 100vh;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: white;
}

::placeholder {
    color: black;
}

.App-header {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(2vmin);
    color: white;
    margin-bottom: 200px;
}

.App-link {
    color: red;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}